/*IMAGEN DE FONDO*/
body {
  width: 1000px;
  height: 500px;
  background: #ccc;
  background-image: url(../img/fondo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
}

#cabecera img {
  width: 200px;
}

.marco {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

/*Con esta configuracion la imagen siempre se mantendra
  con sus mismas proporciones, auque haya partes que no se vean*/
.marco img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
