div {
  background: #e6e8e4;
  padding: 5px;
  overflow: auto;
}

img {
  float: left; /*La imagen flota a la izquierda*/
  width: 100%;
  height: auto;
}

.imagen {
  float: left;
  width: 30%;
  border: 1px solid #ccc;
  background: white;
}

.contenido {
  float: right;
  width: 65%;
  border: 1px solid #b098ef;
  background: transparent;
  background: #9dbbef;
}

p, h1 {
  color: white;
  font-family: helvetica;
}
